body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e0c9c9;
}

.Titulo_Pagina{
    font-size: 50px;
    
}

.Iconos_Inicio{
    color: firebrick;
}

.foto_Inicial{
    width: 150px;
    height: 150px;
    border-radius: 10px;

}

.fotos_perros{
    width: 120px;
    height: 120px;
}

.foto_autor{
    width: 120px;
    height: 120px;
    border-radius: 40px;
}

.borde_autor{
    border: 5px solid black;
    margin-left: 450px;
    margin-right: 450px;
}

.borde_imagen{
    border: 5px solid black;
    margin-left: 470px;
    margin-right: 470px;
}